<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3" IgnorableNamespaces="uap uap3 mp">
  <Identity Name="CopilotGameBarBridge.Local" Publisher="CN=LocalDeveloper" Version="0.1.0.0" />
  <mp:PhoneIdentity PhoneProductId="0e28469d-d4b5-4cdf-8d2e-15ef8bcf2387" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties><DisplayName>Copilot Game Bar Bridge</DisplayName><PublisherDisplayName>Local Developer</PublisherDisplayName><Logo>Assets\StoreLogo.png</Logo></Properties>
  <Dependencies><TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.19041.0" MaxVersionTested="10.0.26100.0" /></Dependencies>
  <Resources><Resource Language="x-generate" /></Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="CopilotGameBarBridge.App">
      <uap:VisualElements DisplayName="Copilot Bridge" Description="Open unified Copilot from Game Bar" BackgroundColor="#171717" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" />
        <uap:SplashScreen Image="Assets\Wide310x150Logo.png" BackgroundColor="#171717" />
      </uap:VisualElements>
      <Extensions>
        <uap3:Extension Category="windows.appExtension">
          <uap3:AppExtension Name="microsoft.gameBarUIExtension" Id="CopilotBridgeWidget" PublicFolder="Public" DisplayName="Copilot Bridge" Description="Compose a prompt and open unified Microsoft Copilot">
            <uap3:Properties>
              <GameBarWidget Type="Standard">
                <HomeMenuVisible>true</HomeMenuVisible>
                <PinningSupported>true</PinningSupported>
                <Window>
                  <Size><Width>420</Width><Height>360</Height></Size>
                  <ResizeSupported><Horizontal>true</Horizontal><Vertical>true</Vertical></ResizeSupported>
                </Window>
              </GameBarWidget>
            </uap3:Properties>
          </uap3:AppExtension>
        </uap3:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities><Capability Name="internetClient" /></Capabilities>
</Package>
